$primary-color: #00acdc;
$nav-link-color: #060b35;
$title-hover-color: #34568b;
$transition-duration: 300ms;
$card-width: 200px;
$catalog-padding-x: 40px;
$catalog-padding-y: 50px;
$catalog-gap-x: 46px;
$catalog-gap-y: 48px;
